[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agate = "*"
agate-dbf = "*"
agate-excel = "*"
agate-sql = "*"
appnope = "*"
attrs = "*"
Babel = "*"
csvkit = "*"
dbfread = "*"
decorator = "*"
docopt = "*"
et_xmlfile = "*"
future = "*"
invoke = "*"
ipdb = "*"
ipython = "*"
ipython_genutils = "*"
isodate = "*"
jdcal = "*"
jedi = "*"
leather = "*"
odfpy = "*"
openpyxl = "*"
parsedatetime = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pluggy = "*"
prompt_toolkit = "*"
psycopg2 = "*"
psycopg2-binary = "*"
ptyprocess = "*"
py = "*"
Pygments = "*"
pytest = "*"
python-slugify = "*"
pytimeparse = "*"
pytz = "*"
PyYAML = "*"
records = "*"
simplegeneric = "*"
six = "*"
SQLAlchemy = "*"
tablib = "*"
traitlets = "*"
unicodecsv = "*"
Unidecode = "*"
wcwidth = "*"
xlrd = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
